$base-font-size: 16px;

$max-width: 1000px;

$main-spacing: 15px;

$primary-color: teal;
$text-color: rgb(240, 236, 198);
$border-color: gray;
$tile-text-color: white;
$background-color: rgb(110, 105, 105);